# Compiled class files
*.class

# Build directories
target/

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Log files
logs/
*.log

# Maven files
mvnw
mvnw.cmd
gradlew
gradlew.bat
gradle/
build/

# Spring Boot application properties file containing sensitive information
src/main/resources/application.properties

# Environment variables file containing sensitive information
.env
